<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-height: 100vh;
            margin: 0;
        }

        .container {
            margin-top: 20px;
            text-align: center;
        }
        
        form {
            display: flex;
            align-items: center;
            border: 2px solid #007bff;
            border-radius: 20px;
            padding: 10px;
        }
        
        input[type="text"] {
            flex: 1;
            height: 40px;
            font-size: 20px;
            border: none;
            outline: none;
            padding: 0 10px;
            border-right: 1px solid #007bff;
            border-radius: 0;
        }
        
        button[type="submit"] {
            height: 40px;
            padding: 0 20px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Búsqueda de Noticias</h1>
        <form action="/search" method="post">
            <input type="text" name="query" placeholder="Buscar noticias...">
            <button type="submit" >Buscar</button>
        </form>
    </div>
</body>
</html>
